<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="content" class="bg-light min-vh-100 h-100">
      <div id="head" class="shadow-sm"><%- include('nav') %></div>
      <div id="mid" class="mt-3 container-md">
