<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="text-danger bi bi-balloon-heart-fill"></i>
      <strong>&nbsp;Fundacja Kitku</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <strong>
            <a class="nav-link active" aria-current="page" href="#"> Home </a>
          </strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link" href="#">Features</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link" href="#">Pricing</a></strong>
        </li>
      </ul>
      <span class="navbar-text">
        <% const user = getProfileFromCache(req); if (user != null) { -%>
        <div>
          Witaj, <strong><%= user.name %></strong>!&nbsp;
          <strong><a href="/logout" class="text-primary">Wyloguj</a></strong>
        </div>
        <% } else { -%>
        <a href="/login">
          <button class="btn btn-outline-primary">Zaloguj</button>
        </a>
        <% } -%>
      </span>
    </div>
  </div>
</nav>
