<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitku</title>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <i class="bi bi-balloon-heart"></i>
            Kitku
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Kotki</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
          </ul>
          <div class="navbar-text">
            <button type="button" class="btn btn-outline-primary">
              Zaloguj
            </button>
          </div>
        </div>
      </nav>
      <div class="bg-warning" id="main">
        <div class="px-4 py-5 text-center my-auto align-middle" id="body">
          <i
            class="bi bi-balloon-heart-fill text-danger"
            style="font-size: 5rem"
          ></i>
          <h1 class="display-5 fw-bold">Kotki</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              Quickly design and customize responsive mobile-first sites with
              Bootstrap, the world’s most popular front-end open source toolkit,
              featuring Sass variables and mixins, responsive grid system,
              extensive prebuilt components, and powerful JavaScript plugins.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                Primary button
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary btn-lg px-4"
              >
                Secondary
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
