<%- include('partials/header') %>
<style>
  #login {
    max-width: 578px;
  }
</style>
<div id="login" class="mx-auto">
  <h1>Zaloguj się</h1>
  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post" action="/login">
        <div class="mb-3">
          <label for="email-input" class="form-label">Adres e-mail</label>
          <input
            type="email"
            class="form-control"
            id="email-input"
            name="email"
            value="admin@admin.pl"
          />
        </div>
        <div class="mb-3">
          <label for="password-input" class="form-label">Hasło</label>
          <input
            type="password"
            class="form-control"
            id="password-input"
            name="password"
            value="admin"
          />
        </div>
        <input type="hidden" name="redirect" value="<%=redirect%>" />
        <% if(error != null){ -%>
        <div class="text-danger mb-3"><%= error %></div>
        <% } -%>
        <button type="submit" class="btn btn-primary mb-3">Zaloguj się</button
        ><br />
        <a href="/register" class="text-secondary"
          >Nie masz konta? Zarejestruj się</a
        >
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
