html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#cats {
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
}

#cats .card {
  margin: 1rem;
  min-width: 18rem;
  max-width: 22rem;
}

#cats .card img {
  max-height: 18rem;
  object-fit: cover;
}
